*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root {
    --bgcolor :#080e1c;
    --textWhite : #fff;
}

.poss {
    background: var(--bgcolor);
    height: 100vh;
    overflow: hidden;
}

.poss header nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.poss header nav .logo {
    color: var(--textWhite);
    font-size: 35px;
    font-weight: bold;

}

.poss header nav .logo span {
    color: #ffdf00;
}

.poss header nav .links a {
    color:var(--textWhite);
    margin: 0 30px;
    transition: 0.3s;
}

.poss header nav .links a:hover {
    color: #23a3fe; 
}

.poss .container {       
    width: 90%;
    margin: auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.poss .container .div_text {      
    width: 50%;
    z-index: 2;
    margin-bottom: 120px;
}

.poss .container .div_img {      
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.poss .container .div_img img {     
    width: 80%;
    max-width: 400px;
    position: relative;
    bottom: 0;
    left: 0;
}

.poss .container .div_text h4 { 
    color: #888;
    font-size: 22px;
}

.poss .container h1 {
    color: #c1a807;
    font-size: 60px;
    margin: 15px 0 10px;
}

.poss .container .div_text span {
    color: #23a3fe;
    font-size: 25px;
    font-weight: bold;
}

.poss .container .div_text p {     
    color: var(--textWhite);
    line-height: 1.8;
    margin: 20px 0 40px;
}